body{
	font-family: verdana,arial;
}

#titulo{
	margin-left: 28%;
}

#mensaje{
	position:absolute;
	left:83%;
	top:50px;
	margin:15px;
	background-color:green;
	font-size:18px;
	text-align:center;
}

#tabla1{
	margin:left;
	padding:5px;
	width: 80%;
	border-radius: 15px;
	border: 2px solid transparent;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

th, td{
	padding: 10px;
}

#tabla1 td{
	text-align: center;	
}

thead{
	background-color: #F00A0A;
	color: white;
}

tr:nth-child(even){
	background-color: #EBEBEB;
}

tbody tr:nth-child(odd){
	background-color: #F5F5F5;
}

