#titulo{
	margin-left: 28%;
}

#mensaje{
	position:absolute;
	left:82.5%;
	top:58px;
	margin:10px;
	padding: 0px 15px 50px 15px;
	border-radius: 15px; 
	font-size:18px;
	width: 150px;
	text-align:center;
	color: white;
}

#tabla1{
	margin:left;
	padding:5px;
	width: 80%;
}

th, td{
	padding: 10px;
}

#tabla1 td{
	text-align: center;	
}

#selector-theme{
	position:fixed;
	top:40%;
	background: rgba(51,51,52,0.5);
	width: 50px;
	height: 100px;
}

#to-green,  #to-red, #to-blue{
	width: 25px;
	height: 25px;
	border: 1px solid white;
	display: block;
	margin: 0px auto;
	margin-top: 5px;
	margin-bottom: 5px;
	cursor:pointer;
}

#to-green{
	background: #235E3D;
}
#to-red{
	background: #CA3413;
}
#to-blue{
	background: #1F87C4;
}

