#titulo{
	margin-left: 28%;
}
 
#mensaje{
	position:absolute;
	left:82.5%;
	top:58px;
	margin:10px;
	padding: 0px 15px 50px 15px;
	border-radius: 15px; 
	font-size:18px;
	width: 150px;
	text-align:center;
	color: white;
}

#tabla1{
	margin:left;
	margin-top: 30px;
	padding:5px;
	width: 80%;
}

th, td{
	padding: 10px;
}

#tabla1 td{
	text-align: center;	
}

#selector-theme{
	padding: 10px;
}

#to-green,  #to-red, #to-blue, #to-purple, #to-brown{
	position: absolute;
	width: 25px;
	height: 25px;
	border: 1px solid white;
	margin: 0px auto;
	margin-top: 38px;
	margin-bottom: 5px;
	cursor:pointer;
}

#p{
	left: 8%;
	top: 30px;
	position: absolute;
	margin: 0px auto;
	margin-top: 38px;
	margin-bottom: 5px;
}

#to-red{
	left: 20%;
	top: 30px;
	background: #CA3413;
}
#to-green{
	left: 22.5%;
	top: 30px;
	background: #235E3D;
}
#to-blue{
	left:25%;
	top:30px;
	background: #1F87C4;
}
#to-purple{
	left:27.5%;
	top:30px;
	background: #5B0FB8;
}
#to-brown{
	left:30%;
	top:30px;
	background: #7C3705;
}


